# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List some popular languages that Data Scientists use
- List commonly used libraries used by Data Scientists
- Create a table listing open source Data Science Tools
- Examples of arithmetic expressions using the Python Programming Language

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. SciKit-Learn
2. Numpy
3. Pandas
4. Matplotlib
5. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Spark|
|Apache Hadoop|
|Jupyter Lab|
|Watson Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Justice Nxumalo